.nav-2 .navbar-nav .nav-item:hover{
    /* background-color: #1D1905; */
}
.nav-2 .navbar-nav .nav-item{
    font-size: 20px;
}
/* .nav-2{
    background-color: #ff5722;
    color: #FFF;
}
.nav-link{
    color: #FFF !important;
}
.nav-2 .nav-item .dropdown-menu{
    background-color: #ff5722;
    color: #FFF;
} */
.navbar-brand{
    font-size: 24px;
}
.carousel-item img{
    object-fit: cover !important;
}
.img-fluid{
    height: 100%;
}
.carousel .carousel-item{
    height: 550px !important;
}
.section-1 .img-thumbnail{
    height: 25rem !important;
    width: 25rem !important;
}
/* .carousel-control-prev,.carousel-control-next{
    height: fit-content !important;
} */

/* for bottom slider */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
/* for bottom slider end */